# APP SETTINGS
PORT=8080


# DATABASE
MONGO_URI=mongodb://localhost:27017/resume_builder_db


# JWT
JWT_SECRET=your-long-random-secret-at-least-32-characters
JWT_EXPIRATION=7d


# ALLOWED ORIGIN
FRONTEND_ORIGIN=http://localhost:4173



# SMPT SERVER
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=user.example@gmail.com
SMTP_PASS=generated-passkey-from-google-service-provider